<mat-card>
    <mat-card-title>{{Title}}</mat-card-title>
    <mat-card-content>
      <form>
        <!-- <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email"
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-hint align="end">Hint:email@domain.com</mat-hint>
          <mat-error align="end"
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Oof</mat-error
          >
        </mat-form-field> -->
        <mat-form-field class="full-width">
            <input matInput placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="full-width">
              <input matInput placeholder="Game"[(ngModel)]="game" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Date"[(ngModel)]="date" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <!--
        <mat-form-field class="full-width">
            <input matInput placeholder="Teams"[(ngModel)]="nteams" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
            -->
        <mat-form-field>
          <mat-label>Host</mat-label>
          <mat-select [(ngModel)]="playerId" name="player">
            <mat-option *ngFor="let player of Players" [value]="player.id">
              {{player.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>



<mat-form-field>
    <mat-label>Mode</mat-label>
    <mat-select [(ngModel)]="modeId" name="mode">
      <mat-option *ngFor="let mode of Modes" [value]="mode.id">
        {{mode.format}}
      </mat-option>
    </mat-select>
  </mat-form-field>


      </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="save()" *ngIf="data==undefined">Save</button>
        <button mat-raised-button color="primary" (click)="update()" *ngIf="data!=undefined" >Update</button>
    </mat-card-actions>
  </mat-card>
  